{
//"ipAddress" : "0.0.0.0",
//"port" : 8080
//"webpath" : "config/web",

"envisalink" : {
 "hostname" : "envisalink",
//"port" : 4025
 "password" : "abcd1234"
}

//,
//"notifications" : {
//
//}

//,
//"foscams" : {
//	"f1" : {
//		"uri" : "http://10.100.10.1:88/cgi-bin/CGIProxy.fcgi",
//		"username" : "haha",
//		"password" : "hehe"
//   }
//}
